{% extends "news/base.html" %}

{% block titleBlock %}
    <title>首页-新经资讯</title>
{% endblock %}

{% block scriptBlock %}
    <script type="text/javascript" src="../../static/news/js/index.js"></script>
{% endblock %}

{% block contentBlock %}
    <ul class="list_con fl">
</ul>
    <div class="rank_con fr">
        <div class="rank_title">
            <h3>点击排行</h3>
        </div>
        <ul class="rank_list">
{#                <li><span class="first">1</span><a href="#">势如破竹！人民币再度连闯四道关口 在岸、离岸双双升破6.42</a></li>#}
{#                <li><span class="second">2</span><a href="#">凛冬已至，还有多少银行人在假装干银行</a></li>#}
{#                <li><span class="third">3</span><a href="#">人民日报：部分城市楼市放松限制引关注，楼市调控不会“拉抽屉”</a></li>#}
{#                <li><span>4</span><a href="#">势如破竹！人民币再度连闯四道关口 在岸、离岸双双升破6.42</a></li>#}
{#                <li><span>5</span><a href="#">凛冬已至，还有多少银行人在假装干银行</a></li>#}
{#                <li><span>6</span><a href="#">人民日报：部分城市楼市放松限制引关注，楼市调控不会“拉抽屉”</a></li>#}
        {% for new in data.new_dict_li %}
            <li><span class="{{ loop.index | index_class }}">{{ loop.index }}</span><a href="#">{{ new.title }}</a></li>
{#                <li><span class="">{{ loop.index }}</span><a href="">{{ new.title }}</a></li>#}

        {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block categoryBlock %}
    <div class="header_con">
        <div class="header">
            <a href="{{ url_for("index.index") }}" class="logo fl"><img src="../../static/news/images/logo.png" alt="logo"></a>
            <ul class="menu fl">
                {% for category in data.categories %}
{#                    <li>{{ category }}</li>#}
                    {% if loop.index == 1 %}
                    <li class="active" data-cid="{{ loop.index0 }}"><a href="javascript:;">{{ category }}</a></li>
                    {% else %}
                    <li data-cid="{{ loop.index0 }}"><a href="javascript:;">{{ category}}</a></li>
                    {% endif %}
                {% endfor %}

            </ul>
            {% if not data.user %}
            <div class="user_btns fr">
                <a href="javascript:;" class="login_btn">登录</a> / <a href="javascript:;" class="register_btn">注册</a>
            </div>
            {% else %}
            <!-- 用户登录后显示下面，隐藏上面 -->
            <div class="user_login fr">
                <img src={% if data.user.avatar_url %}
			    {{ data.user.avatar_url }}
                {% else %}
                 "../../static/news/images/user_pic.png"
                     {% endif %}
                     class="lgin_pic">
                <a href="/profile/info">{{ data.user.nick_name }}</a>
{#                <a href="#">111</a>#}
                <a href="javascript:;" onclick="logout()">退出</a>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}